# Development Profile Configuration
# Active when: spring.profiles.active=dev

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mts_db?createDatabaseIfNotExist=true
    username: root
    password: Partha@1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.mts: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
